export INFURA_API_KEY=""
export MNEMONIC="here is where your twelve words mnemonic should be put"

# Block explorer API keys
export ARBISCAN_API_KEY=""
export BSCSCAN_API_KEY=""
export ETHERSCAN_API_KEY=""
export OPTIMISM_API_KEY=""
export POLYGONSCAN_API_KEY=""
export SNOWTRACE_API_KEY=""
